.document {
    background-color: #F9FBFD;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: 100vh;
    padding: 20px 0;
    gap: 20px;
    position: relative;
    .AddComponents {
        position: absolute;
        left: 20px;
        top: 20px;
        display: flex;
        flex-direction: column;
        gap: 20px;
        button {
            padding: 5px 20px;
        }
    }
}