.page {
    width: 8.3in;
    max-width: 8.3in;
    height: 11.7in;
    border: 1px solid #C7C7C7;
    background-color: white;
    
    .editor {
        height: 100%;
        outline: none;
        padding: 1in;
    }
}